*{
  font-family: "proxima-nova";
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.well{
  background-color: grey;

}
.progress-bar{
  color:black;
}
